@media screen and (max-width: 520px) { @viewport { width: 320px;} }
@media screen and (min-width: 521px) and (max-width: 768px) { @viewport { width: 760px;} }

/* Everything else here */
#remind {
	display: none;
}

@font-face {
	font-family: "Fira Sans";
	src: url("../assets/FiraSans-Regular.otf");
}

* {
	padding: 0;
	border: 0;
	margin: 0;
}

.hide {
	display: none;
}

.show {
	display: block;
}

body {
	font-family: "Fira Sans";
	background: #222;
 	overflow-x: hidden;
 	width: 100%;
}

a {
	text-decoration: none;
	color: inherit;
}

#fixed-top {
	position: fixed;
	top: 0;
	left: 0;
	height: 70px;
	width: 100%;
	background: #222;
	z-index: 5;
}

#fixed-top #logo {
	position: absolute;
	height: 70px;
	width: 70px;
	float: left;
	background: url('../assets/stripe.png') no-repeat #ff0;
	background-position: -430px -95px;
	background-size: 625px 400px;
	z-index: 10;
}

#fixed-top #banner {
	position: absolute;
	width: 100%;
	text-align: center;
	font-size: 24px;
	line-height: 72px;
	color: #fff;
}

#fixed-top #tweet {
	position: relative;
	height: 70px;
	width: 70px;
	float: right;
	background: url('../assets/tw_logo.png') no-repeat;
	background-position: center;
	z-index: 10;
}

#navigation {
	position: fixed;
	top: 70px;
	left: -5px;
	width: 52px;
	height: 410px; /* Fallback for _bad_ browsers */
	height: calc(100% - 70px);
	background: transparent;
	z-index: 5;
	margin-left: -47px;
}

.nav-shown {
	margin-left: 0 !important;
}

.navigation-item {
	position: relative;
	display: block;
	width: 52px;
	height: 51.25px;
	font-size: 32px;
	line-height: 48px;
	text-align: center;
}

.filler {
	position: relative;
	display: block;
	background: transparent;
	height: calc( (100% - 410px)/7 );
}

.active {
	left: 5px;
}

.clearfill {
	position: relative;
	height: 70px;
	width: 100%;
}

#intro,
#events,
#singing,
#dancing,
#fashion,
#celeb,
#social,
#contacts,
#ca {
	position: relative;
	height: 480px;
	width: 100%;
}

.imgs {
	position: relative;
	background: url('../assets/stripe.png') no-repeat;
	margin-right: auto;
	margin-left: auto;
}

#big-logo {
	height: 340px;
	width: 170px;
	background-position: -1050px 0px;
}

.text {
	position: relative;
	margin-left: 10px;
	margin-right: 10px;
}

.center {
	text-align: center;
}

#events {
	background: #7e68b5;
}

#singing {
	background: #0ed4c8;
}

#singing-img {
	height: 120px;
	width: 200px;
	background-position: -200px -250px;
}

#dancing {
	background: #eac05c;
}

#dancing-img {
	height: 200px;
	width: 200px;
	background-position: 0px -180px;
}

#fashion {
	background: #ff6f6f;
}

#fashion-img {
	height: 150px;
	width: 200px;
	background-position: -200px -90px;
}

#celeb {
	background: #80bc5d;
}

#celeb-img {
	height: 160px;
	width: 200px;
	background-position: 0px -380px;
}

#social {
	background: #7e68b5;
}

#contacts {
	background: #0ed4c8;
}

.contact {
	height: 80px;
}

.left {
	width: 180px;
	width: calc(100% - 90px);
	float: left;
	text-align: right;
}

.right {
	width: 180px;
	width: calc(100% - 90px);
	float: right;
	text-align: left;
}

.contacts-img {
	position: relative;
	height: 80px !important;
	width: 80px !important;
}

.clearfix {
	height: 5px;
}

.clearfix,
.contact-name,
.contact-designation,
.contact-tel {
	display: block;
}

#ca {
	background: #eac05c;
}

#ca-img {
	height: 170px;
	width: 305px;
	background-size: 625px 400px;
	background-position: -210px -175px;
}


/* Ask the user to navigate to the desktop version because their screen is
 * big enough
 */

@media screen and (min-width: 769px) {
	#remind {
		position: fixed;
		top: 0;
		width: 100%;
		display: block;
		background: red;
		text-align: center;
		font-size: 24px;
		color: white;
		z-index: 1000; /* Fsck! */
	}
}
